.th-moda {
    background-color: #BB86FC;
    color: #FFFFFF;
    
}

.th-casa {
    background-color: #00C4B4;
    color: #FFFFFF;
}

.valores {
    background-color: #424250;
    color: #FFFFFF;
    
}